body{
    background-color: rgb(165, 89, 236);
}
.line{
    background-color: rgb(96, 32, 156);
    width:100%;
    height:30px;
    margin: auto;
    color:aliceblue;
    text-align:center;
}
h1{
    text-align:center;
    font-family: monospace;
    font-size: 50px;
    margin-top: 30px;
}
h2{
    text-align:center;
    font-family: monospace;
    font-size: 20px;
}


.container{
    display: flex;
    justify-content: space-around;
}
.box{
    width: 300px;
    padding: 20px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}
img{
    height: 500px;
   
   
}

.foot{
background-color: rgb(96, 32, 156);
min-height: 100px;
;
}
